<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Madcow.Wek.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Madcow.Wek.UI.Properties.Settings>
            <setting name="HostViewItemFirstLineProperty" serializeAs="String">
                <value>Description</value>
            </setting>
            <setting name="HostViewItemSecondLineProperty" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="HostViewItemThirdLineProperty" serializeAs="String">
                <value>MachineAddress</value>
            </setting>
            <setting name="ShowSecureOnHostHint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HostViewItemDoubleClickAction" serializeAs="String">
                <value>Wake</value>
            </setting>
        </Madcow.Wek.UI.Properties.Settings>
    </userSettings>
</configuration>